body {
    background-color: rgb(169, 126, 184); /* Set the background color outside the border to pink */
  }
  
  .color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .color-picker-border {
    border: 2px solid gra;
    border-radius: 15px;
    background-color: pink; /* Set the background color inside the border to blue */
    padding: 20px;
    text-align: center;
  }
  
  .color-picker-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    background-color: white;
  }
  
  .color-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .color-option {
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
    font-size: 12px;
  }